body { 
       background-color:#993333;
	   margin:2;
} 

a{
text-decoration:none;

}

.boutton a{
color:WHITE;
}

.boutton{
background-image: url(images/boutton.png)  ;
height:20px;
}

H2{
text-align: right;
COLOR:  #993333;
}

H3{
text-align: right;
margin: 10px;
background-color:#eeeeff;
background-image:-webkit-gradient(linear,left top,left bottom,from( #CCC ),to( #EEE ));
}
#tableglobale{
  width: 100%;
  margin:0px;
  padding:0;
  background-color:#FFFFDD;
  text-align: right;
  border:0;
}


#entete {
  font: bold;
  margin:0px;
   background-image: url(images/entete.png)  ;
  color: white;
  text-align:center;
  width:100%;
  Height:25px;  
   }
   
#menu {
  font: bold;
  background-color: #ffffff;
  width: 100%;
  text-align:center;
}

#footer {
  font-size: 12px;
   background-image: url(images/boutton.png)  ;
  color: white;
  text-align:center;
  font-style:bold;
   }

